* {
    box-sizing: border-box;
}
body {
    direction: rtl;
    text-align: right;
    font-family: arial;
}
header {
    background-image: linear-gradient(rgb(144,144,144),95%, rgb(190,190,190));
    width: 100%;
    height: 105px;  
}
.content {
    width: 900px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;  
}
.search-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
}
.search-field {
    border-radius: 0 9px 0 0;
}
.search-lng {
    color:white;
    font-weight: bold;
    font-size: 13px;
}
.search-lng:hover {
    color: rgb(0,92,160);
}
.nav-top {
    position: relative;
}
.logo {
   position: absolute;
    bottom: -30px;
}
.menu-line {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
nav > ul {
    list-style: none;
    margin: 0px;
}
.home {
    padding-left: 15px;
}
.main-menu > a , .sub-menu > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
    font-size: 15px;
}
.main-menu > a {
    padding: 2px 15px;
    border-color: rgb(160,160,160);
    border-right-style: solid;
    border-width: 2px;
}
.sub-menu > a {
    background-color: rgb(150,150,150);
    border-top-style: solid;
    border-color: rgb(160,160,160);
    border-width: 2px;
    padding: 5px 10px;
    margin-right: 15px;
}
.sub-menu > a:first-child {
    margin-top: 10px;
}
li {
    display: inline-block;
}
.main-menu {
    position: relative;
}
.sub-menu {
    display: none;
    position: absolute;
    top: 19px;
}
.main-menu > a:hover, .sub-menu > a:hover {
    color: rgb(0,92,160);
    text-decoration: underline;
    background-color: rgb(188,188,188) 
}
.main-menu:hover > .sub-menu {
    display: block;
}

.main-content {
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;
}
.p-title {
    font-size: 14px;
    color:white;
    margin:0;
}
.p-text {
    font-size: 13px;
    color:white;
    margin:0;
}
.p-link {
    color: white;
    font-size: 13px;  
}
.pic1 {
    background-image:url("/images/station.jpg");
    background-repeat: no-repeat;
}
.pic2 {
    background-image:url("/images/plant.jpg");
    background-repeat: no-repeat;
}
.pic3 {
    background-image:url("/images/pazkar.jpg");
    background-repeat: no-repeat;
}
.row1 , .row2 {
    display: flex;
    justify-content: space-between;
}
.pic1, .pic2, .pic3 {
    width: 293px;
    height: 355px;
    border-radius: 0 0 25px 0;
}
.text-box {
    background-color: rgba(125,125,125, 0.85);
    border-radius: 0 0 25px 0;
    width: 250px;
    margin: 250px 10px 10px 10px;
    padding: 5px;
}
.read-link {
    display:flex;
    justify-content: flex-end;
}
.p2-title {
    font-size: 14px;
    font-weight: bold;
    color: #575757;
    width:244px;
    height: 34px;
    border-bottom-style: solid;
    border-bottom-color:rgb(235,235,235);
    border-bottom-width: 2px;
    margin:0;
    margin-bottom: 15px;

    display:flex;
    align-items: center;
}

.p-pic {
    width: 250px;
    height: 110px;
}
.p2-link {
    font-size: 13px;
    color: #575757;
    display: block;
    margin: 0 0 8px;
}
.pic4, .pic5, .pic6 {
    width: 292px;
    height: 216px;
    margin-top: 20px;
    border-radius: 0 25px 0 0;
    border-style: solid;
    padding: 0 24px;
    color: rgb(226,226,226);
    border-width: 2px;
    background-image: linear-gradient(rgb(255,255,255), rgb(242,242,242));
}
.sides {
    height: 79px;
    margin-top: 16px;
}
.map {
    width: 73px;
    height: 168px;
}
.details {
    display: flex;
    justify-content: flex-end;
    margin: 12px 0;
}
.map-side {
    display: flex;
    justify-content: space-between;
}
.pic6 > .p2-title {
    margin-bottom: 6px;
}